body {
  min-width: 320px;
  overflow-x: hidden;
  background: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

h1 {
  font-size: 46px;
  font-weight: 700;
  padding-bottom: 80px;
  margin: 0;
}

h2 {
  font-size: 18px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-weight: 500;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.header__container {
  height: 60px;
  border: 1px solid #DDDDDD;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-left: 15px;
}
.header__menu {
  position: relative;
  display: flex;
  align-items: center;
}
.header__list-item {
  margin-right: 40px;
  font-weight: 500;
  font-size: 14px;
  display: none;
}
.header-link {
  color: #000000;
}
.header__burger-btn {
  width: 60px;
  height: 60px;
  border: 1px solid #DDDDDD;
  border-right: none;
  background-color: #ffffff;
  position: relative;
}
.header__burger-btn::after {
  content: "";
  width: 15px;
  height: 2px;
  border-radius: 1px;
  background-color: #000000;
  position: absolute;
  top: 23px;
  left: 22px;
  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
}
.header__search-btn {
  width: 60px;
  height: 60px;
  border: 1px solid #DDDDDD;
  border-right: none;
  background-color: #ffffff;
  position: relative;
}
@media (min-width: 1200px) {
  .header__container {
    height: 53px;
  }
  .header__list-item {
    display: unset;
  }
  .header__burger-btn {
    display: none;
  }
  .header__search-btn {
    width: 53px;
    height: 53px;
  }
}

.cards__container {
  margin-top: 121px;
  margin-bottom: 80px;
  margin-left: 17px;
  margin-right: 18px;
}
@media (min-width: 750px) {
  .cards__container {
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
  }
}

.signpost__container {
  min-width: 340px;
  margin-top: 80px;
  margin-bottom: 41px;
  margin-left: 17px;
  margin-right: 18px;
}
.signpost__body {
  display: flex;
  width: 100%;
}
.signpost__image-left {
  position: relative;
  width: 15%;
  align-items: center;
  box-shadow: 15px 0px #05C3DE;
  margin-right: 15px;
}
.signpost__image-left-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.signpost__description {
  width: 85%;
  background-color: #F3F3F3;
  padding: 30px;
}
.signpost__description-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.signpost__title {
  font-size: 26px;
  font-weight: 700;
}
.signpost__btn-desktop {
  display: none;
}
.signpost__subtitle {
  font-size: 12px;
  font-weight: 500;
  color: #767676;
  margin-bottom: 20px;
}
.signpost__event {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 15px;
}
.signpost__event-aspects {
  display: flex;
}
.signpost__time-img {
  margin: 4px;
}
.signpost__event-text {
  margin-left: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #753BBD;
}
.signpost__event-text-date {
  color: #000000;
}
.signpost__event-text-full-date {
  color: #000000;
  display: none;
}
.signpost__btn-mobile {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid #DDDDDD;
  background-color: #F3F3F3;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}
.signpost__image-right {
  display: none;
}
.signpost__image-right-img {
  width: 100%;
  height: 100%;
}
@media (min-width: 750px) {
  .signpost__container {
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media (min-width: 1200px) {
  .signpost__container {
    margin-top: 80px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
  }
  .signpost__description {
    background-color: #F3F3F3;
    padding-top: 80px;
    padding-bottom: 65px;
    padding-left: 84px;
    padding-right: 84px;
  }
  .signpost__description-title {
    margin-bottom: 30px;
  }
  .signpost__title {
    min-width: 370px;
    margin-right: 20px;
    font-size: 46px;
    display: flex;
    align-items: center;
  }
  .signpost__title::after {
    content: "";
    width: 40px;
    height: 2px;
    border-radius: 1px;
    background-color: #DDDDDD;
    display: block;
    margin-left: 20px;
  }
  .signpost__subtitle {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .signpost__event-text {
    font-size: 18px;
    margin-bottom: 20px;
    color: #753BBD;
  }
  .signpost__event-text-date {
    display: none;
  }
  .signpost__event-text-full-date {
    display: block;
  }
  .signpost__btn-mobile {
    display: none;
  }
  .signpost__btn-desktop {
    display: block;
    background-color: #F3F3F3;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    position: relative;
    width: 215px;
    border: none;
  }
}
@media (min-width: 1440px) {
  .signpost__container {
    margin-top: 80px;
    margin-left: 100px;
    margin-bottom: 100px;
  }
  .signpost__image-left {
    width: 30%;
    background-position: center;
    box-shadow: none;
    margin-right: 0px;
  }
  .signpost__description {
    width: 58%;
  }
  .signpost__image-right {
    width: 12%;
    display: block;
    box-shadow: 40px 0px #05C3DE;
  }
}

.card {
  width: 100%;
  max-width: 460px;
  min-height: 355px;
  position: relative;
  list-style-type: none;
}
.card__image {
  height: 190px;
  width: 100%;
  position: relative;
  border-right: 10px solid #753BBD;
}
.card__image::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}
.card:last-child {
  border-left: 1px solid #DDDDDD;
}
.card:last-child .card__image::after {
  content: none;
}
.card:last-child .card__description {
  border-left: none;
}
.card__image-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}
.card__label {
  z-index: 50;
  position: absolute;
  width: 54px;
  background-color: #FBE200;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 16px;
  font-weight: 700;
}
.card__description {
  position: relative;
  width: 100%;
  min-height: 125px;
  padding: 20px;
  border: 1px solid #DDDDDD;
  border-top: none;
}
.card__title {
  margin-bottom: 18px;
}
.card__subtitle {
  margin-bottom: 30px;
}
.card__description-aspects {
  font-size: 10px;
  font-weight: 400;
}
.card__icon {
  margin-right: 10px;
}
.card__time {
  margin-bottom: 11px;
}

@media (min-width: 750px) {
  .card {
    display: inline-flex;
    flex-direction: row-reverse;
    max-width: 875px;
    width: 100%;
    min-height: 225px;
  }
  .card:last-child {
    border-left: none;
    border-bottom: 1px solid #DDDDDD;
  }
  .card:last-child .card__description {
    border-left: 1px solid #DDDDDD;
  }
  .card__image {
    width: 40%;
    min-width: 280px;
    max-width: 360px;
    height: 225px;
  }
  .card__description {
    width: 60%;
    padding: 30px;
    padding-bottom: 52px;
    border: 1px solid #DDDDDD;
    border-right: none;
    border-bottom: none;
  }
  .card__title {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .card__subtitle {
    margin-bottom: 45px;
  }
  .card__description-aspects {
    font-size: 12px;
    font-weight: 400;
  }
  .card__icon {
    margin-right: 10px;
  }
  .card__time {
    margin-bottom: 15px;
  }
}/*# sourceMappingURL=style.css.map */