.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  background: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

.header_container {
  height: 60px;
  border: 1px solid #DDDDDD;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1200px) {
  .header_container {
    height: 53px;
  }
}
.header .logo_link {
  margin-left: 15px;
}
.header .header_btns {
  position: relative;
  display: flex;
  align-items: center;
}
.header .header_btns .navbar a {
  margin-right: 40px;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  display: none;
}
.header .header_btns .menu_btn {
  width: 60px;
  height: 60px;
  border: 1px solid #DDDDDD;
  background-color: #ffffff;
  position: relative;
}
.header .header_btns .menu_btn::after {
  content: "";
  width: 15px;
  height: 2px;
  border-radius: 1px;
  background-color: #000000;
  position: absolute;
  top: 23px;
  left: 22px;
  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
}
.header .header_btns .search_btn {
  width: 60px;
  height: 60px;
  border: 1px solid #DDDDDD;
  background-color: #ffffff;
  position: relative;
}
@media (min-width: 1200px) {
  .header .header_btns .navbar a {
    display: unset;
  }
  .header .header_btns .menu_btn {
    display: none;
  }
  .header .header_btns .search_btn {
    width: 53px;
    height: 53px;
  }
}

.signpost_container {
  width: 340px;
  margin-top: 80px;
  margin-bottom: 41px;
  margin-left: 17px;
  margin-left: 18px;
}
.signpost_container .post {
  position: relative;
  display: inline-flex;
}
.signpost_container .post_image-left {
  width: 50px;
  height: 392px;
  background-position: center;
  background-image: url(../images/conversation.png);
  box-shadow: 15px 0px #05C3DE;
  margin-right: 15px;
}
.signpost_container .post_description {
  width: 275px;
  background-color: #F3F3F3;
  padding: 30px;
}
.signpost_container .post_title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}
.signpost_container .post_subtitle {
  font-size: 12px;
  font-weight: 500;
  color: #767676;
  margin-bottom: 20px;
}
.signpost_container .post_description-aspects {
  margin-bottom: 20px;
}
.signpost_container .post_description-aspects .event {
  display: flex;
  justify-content: space-between;
  align-items: top;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 15px;
}
.signpost_container .post_description-aspects .event .event_aspects {
  display: flex;
  justify-content: left;
}
.signpost_container .post_description-aspects .event .event_aspects .event_time-img {
  margin: 4px;
}
.signpost_container .post_description-aspects .event_text {
  margin-left: 15px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #753BBD;
  margin-bottom: 10px;
}
.signpost_container .post_description-aspects .event_text-date {
  padding: 0;
  margin: 0;
  color: #000000;
}
.signpost_container .post_btn {
  height: 48px;
  width: 215px;
  border: 1px solid #DDDDDD;
  background-color: #F3F3F3;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: 700;
}
.signpost_container .post_image-right {
  background-image: url(../images/pattern.png);
  display: none;
}
@media (min-width: 1200px) {
  .signpost_container {
    width: 1068px;
    margin-top: 80px;
    margin-left: 100px;
    margin-bottom: 100px;
  }
  .signpost_container .post_description {
    width: 1008px;
    height: 392px;
    background-color: #F3F3F3;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 84px;
    padding-right: 84px;
  }
  .signpost_container .post_title {
    font-size: 46px;
    margin-bottom: 30px;
  }
  .signpost_container .post_subtitle {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .signpost_container .post_description-aspects {
    margin-bottom: 0px;
  }
  .signpost_container .post_description-aspects .event {
    height: 45px;
  }
  .signpost_container .post_description-aspects .event_text {
    font-size: 18px;
    margin-bottom: 20px;
    color: #753BBD;
  }
  .signpost_container .post_description-aspects .event_text .first {
    visibility: hidden;
  }
  .signpost_container .post_description-aspects .event_text .first::before {
    content: "- Thursday 23 June 2022";
    visibility: visible;
  }
  .signpost_container .post_description-aspects .event_text .second {
    visibility: hidden;
  }
  .signpost_container .post_description-aspects .event_text .second::before {
    content: "- Wednesday 31 August 2022";
    visibility: visible;
  }
  .signpost_container .post_btn {
    position: relative;
    bottom: 244px;
    left: 362px;
    height: 48px;
    width: 215px;
    border: none;
  }
  .signpost_container .post_btn::before {
    content: "";
    width: 40px;
    height: 2px;
    border-radius: 1px;
    background-color: #DDDDDD;
    position: absolute;
    top: 24px;
    right: 194px;
  }
}
@media (min-width: 1920px) {
  .signpost_container {
    width: 1720px;
    margin-top: 80px;
    margin-left: 100px;
    margin-bottom: 100px;
  }
  .signpost_container .post_image-left {
    width: 504px;
    height: 393px;
    background-position: center;
    box-shadow: none;
    margin-right: 0px;
  }
  .signpost_container .post_image-right {
    width: 168px;
    height: 393px;
    background-image: url(../images/pattern.png);
    display: unset;
    box-shadow: 40px 0px #05C3DE;
  }
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}/*# sourceMappingURL=style.css.map */