.header{
    &__container{
        height: 60px;
        border: 1px solid $light_grey;
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
    
    &__logo{
        margin-left: 15px;
    }

    &__menu{
        position: relative;
        display: flex;
        align-items: center;
    }

    &__navbar a{
        margin-right: 40px;
        font-weight: 500;
        font-size: 14px;
        color: $black;
        display: none;
    }

    &__burger-btn{
        width: 60px;
        height: 60px;
        border: 1px solid $light_grey;
        background-color: $white;
        position: relative;
        &::after{
            content: "";
            width: 15px;
            height: 2px;
            border-radius: 1px;
            background-color: $black;
            position: absolute;
            top: 23px;
            left:22px;
            box-shadow: 0 6px 0 0 $black, 0 12px 0 0 $black;
        }
    }
    &__search-btn{
        width: 60px;
        height: 60px;
        border: 1px solid $light_grey;
        background-color: $white;
        position: relative;     
    }

    @media (min-width: 1200px){
        &__container{
            height: 53px;
        }
        &__navbar a{
            display: unset;
        }
        &__burger-btn{
            display: none;
        }
        &__search-btn{
            width: 53px;
            height: 53px;
        }
    
}
 
    
}