.signpost{
    &__container{
        width: 340px;
        margin-top: 80px;
        margin-bottom: 41px;
        margin-left: 17px;
        margin-left: 18px;
    }
    


    @media (min-width: 1200px){
        &__container{
            width: 1068px;
            margin-top: 80px;
            margin-left: 100px;
            margin-bottom: 100px;
        }
    } 

    @media (min-width: 1920px){
        &__container{
            width: 1720px;
            margin-top: 80px;
            margin-left: 100px;
            margin-bottom: 100px;
        }
    }
}